body {
  min-width: 100vw;
  background-color: aliceblue;
}

.navbar {
  background-color: grey;
  border: solid black;
  border-radius: 20px;
}

.cl-userButtonBox {
  border: solid black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
}

.about {
  text-align: center;
  border: solid black;
  width: 98vw;
  margin-top: 50px;
  padding-bottom: 100px;
  background-color: white;
}

.items {
  background-color: white;
}

.applicantdata {
  background-color: white;
}

.longinput {
  width: 90%;
}